@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'OmoriGame';
  src: url('../assets/fonts/OMORI_GAME.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OmoriGame2';
  src: url('../assets/fonts/OMORI_GAME2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}